@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #343434;
  --primary-foreground: #fbfbfb;
  --secondary: #f7f7f7;
  --secondary-foreground: #343434;
  --muted: #f7f7f7;
  --muted-foreground: #8e8e8e;
  --accent: #f7f7f7;
  --accent-foreground: #343434;
  --destructive: #ef4444;
  --destructive-foreground: #ef4444;
  --border: #eaeaea;
  --input: #eaeaea;
  --ring: #b8b8b8;
  --chart-1: #e25822;
  --chart-2: #00a76f;
  --chart-3: #3163c5;
  --chart-4: #f9c74f;
  --chart-5: #f8961e;
  --radius: 0.625rem;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #252525;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #eaeaea;
  --sidebar-ring: #b8b8b8;
}

.dark {
  --background: #252525;
  --foreground: #fbfbfb;
  --card: #252525;
  --card-foreground: #fbfbfb;
  --popover: #252525;
  --popover-foreground: #fbfbfb;
  --primary: #fbfbfb;
  --primary-foreground: #343434;
  --secondary: #404040;
  --secondary-foreground: #fbfbfb;
  --muted: #404040;
  --muted-foreground: #b8b8b8;
  --accent: #404040;
  --accent-foreground: #fbfbfb;
  --destructive: #b91c1c;
  --destructive-foreground: #f87171;
  --border: #404040;
  --input: #404040;
  --ring: #707070;
  --chart-1: #5c7cfa;
  --chart-2: #51cf66;
  --chart-3: #f8961e;
  --chart-4: #9775fa;
  --chart-5: #ff6b6b;
  --sidebar: #343434;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #5c7cfa;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #404040;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: #404040;
  --sidebar-ring: #707070;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
